<div class="container">
  <h1><%= @cocktail.name %></h1>
</div>
<div class="container">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :image_url, label: "Image url (we will put a random one if you don't fill it 😉) " %>
        <%= f.input :description %>
        <br>
        <br>
        <%= f.submit class: "blue-button" %>
      <% end %>
</div>
