<div class="container">
  <h1><%= @cocktail.name %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="column">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :image_url %>
        <%= f.input :description %>
        <br>
        <br>
        <%= f.submit class: "blue-button" %>
      <% end %>
      </div>
   </div>
</div>