
<div class="header-cocktail-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @cocktail.image_url %>)">
  <h1><%= @cocktail.name %></h1>
</div>

<div class="container">
  <div class="container-flex">
    <div class="block">
      <h2>Description</h2>
      <p><%= @cocktail.description %></p>
      <br>
      <%= link_to  "Modify", edit_cocktail_path(@cocktail), class:"blue-button" %>
    <br>
    <br>
      <div class="reviews">
        <h2>Reviews</h2>
        <ul>
            <% @cocktail.reviews.each do |review| %>
              <li class="review-block"> 
              <div class="top-review-block">
                <% review.rating.times do %>
                  <i class='fas fa-star'></i> 
                <% end %>
                <% blank_stars = 5 - review.rating %>
                <% blank_stars.times do %>
                  <i class="far fa-star"></i>
                <% end %>
                <span id="author"> by <%= review.author %> </span>
              </div>
              <div class="bottom-review-block">
                <%= review.description %> 
              </div>
              </li>
            <% end %>
          </ul>
          <div class="blue-button" id="add-rev-button">
            Add new review
          </div>
          <div id="form-review">
            <%= simple_form_for [ @cocktail, @review ] do |f| %>
              <%= f.input :author %>
              <%= f.input :description %>
              <%= f.input :rating, as: :radio_buttons, collection: Review::RATING, wrapper: :vertical_collection_inline %>

              <%= f.submit class: "blue-button" %>
            <% end %>
          </div> 
      </div>
    </div>

    <div class="block">
      <h2>Ingredients</h2>
      <br>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li> 
            <%= dose.description %> of <%= dose.ingredient[:name] %>
            <%= link_to  "[delete]", cocktail_dose_path(@cocktail, dose), method: "delete", data: {confirm: "Are you sure?"}, class:"delete" %>
          </li>
        <% end %>
      </ul>
      <br>
      <br>
      <div class="blue-button" id="add-ing-button">
      Add new ingredient
      </div>
      <%# link_to  "Add new ingredient", new_cocktail_dose_path(@cocktail), class:"blue-button", id:"add-ing-button" %>

      <div id="form-dose">
        <%= simple_form_for [ @cocktail, @dose ] do |f| %>
          <%= f.input :description, label: 'Quantity' %>
          <%= f.association :ingredient, input_html: { class: "select2" } %>

          <%= f.submit class: "blue-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>