<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do |dose| %>
  <li> 
    <%= dose.description %> of <%= dose.ingredient[:name] %>
    <%= link_to  "💣", cocktail_dose_path(@cocktail, dose), method: "delete", data: {confirm: "Are you sure?"} %>
  </li>
<% end %>
<br>
<%= link_to  "add new dose", new_cocktail_dose_path(@cocktail) %>